<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <!-- Pages tittle ============================================================================ -->
    <title>СТН "АСТРА"</title>
    <!-- Necessary pages settings ================================================================ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- SEO advanced pages settings ============================================================= -->
    <meta property="og:url"         content="https://astra50.ru">
    <meta property="og:type"        content="website">
    <meta property="og:title"       content="СНТ АСТРА">
    <meta property="og:image"       content="https://astra50.ru/og-image_1200x1200.jpg">
    <meta property="og:site_name"   content="СНТ АСТРА">
    <meta property="og:description" content="Астра - самое дружное товарищество">
    <!-- Favicon ================================================================================= -->
    <link rel="icon" type="img/png" href="{{ asset('img/favicons/favicon-16x16.png') }}" sizes="16x16"/>
    <link rel="icon" type="img/png" href="{{ asset('img/favicons/favicon-32x32.png') }}" sizes="32x32"/>
    <link rel="apple-touch-icon" href="{{ asset('img/favicons/apple-touch-icon-152x152.png') }}" sizes="152x152"/>
    <!-- Styles ================================================================================== -->
    <link rel="stylesheet" href="{{ asset('styles.css') }}"/><!-- Main styles from .less -->

    <script src="https://browser.sentry-cdn.com/5.5.0/bundle.min.js" crossorigin="anonymous"></script>
    <script>
      Sentry.init({ dsn: 'https://eb090484615d4e3189a2fae889681e07@sentry.automagistre.ru/5' });
    </script>

    {% if not app.debug %}
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
           ym(70711060, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/70711060" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {% endif %}
</head>
<body>
    {% block body %}
    {% endblock body %}
    <script src="{{ asset('vendors.js') }}"></script>
    <script src="{{ asset('main.js') }}"></script>
</body>
</html>
